@import "tailwindcss";

@theme {
  --font-vazirmatn: var(--font-vazirmatn);
}

:root {
  --background: #ffffff;
  --foreground: #020617;
}

body {
  background: var(--background);
  color: var(--foreground);
}
